# Australian Credit Approval in R

Applying algorithms in R for given dataset.

In [274]:
library(rpart)

myData <- read.csv("http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/australian/australian.dat", header=TRUE, sep=" ")

In [250]:
head(myData)

  X1 X22.08 X11.46 X2 X4 X4.1 X1.585 X0 X0.1 X0.2 X1.1 X2.1 X100 X1213 X0.3
1 0  22.67   7.000 2  8  4    0.165  0  0     0   0    2    160    1   0
2 0  29.58   1.750 1  4  4    1.250  0  0     0   1    2    280    1   0
3 0  21.67  11.500 1  5  3    0.000  1  1    11   1    2      0    1   1
4 1  20.17   8.170 2  6  4    1.960  1  1    14   0    2     60  159   1
5 0  15.83   0.585 2  8  8    1.500  1  1     2   0    2    100    1   1
6 1  17.42   6.500 2  3  4    0.125  0  0     0   0    2     60  101   0

## Data Adjusments

Adjusting dataframe for categorical variables.

In [251]:


factoredMyData <- factor(myData[,1], levels = c("0","1"))
myData[,1] <- factoredMyData

factoredMyData <- factor(myData[,4], levels = c("1","2","3"))
myData[,4] <- factoredMyData

factoredMyData <- factor(myData[,5], levels = c(1,2,3,4,5,6,7,8,9,10,11,12,13,14))
myData[,5] <- factoredMyData

factoredMyData <- factor(myData[,6], levels = c(1,2,3,4,5,6,7,8,9))
myData[,6] <- factoredMyData

factoredMyData <- factor(myData[,8], levels = c("0","1"))
myData[,8] <- factoredMyData

factoredMyData <- factor(myData[,9], levels = c("0","1"))
myData[,9] <- factoredMyData

factoredMyData <- factor(myData[,11], levels = c("0","1"))
myData[,11] <- factoredMyData

factoredMyData <- factor(myData[,12], levels =  c("1","2","3"))
myData[,12] <- factoredMyData

factoredMyData <- factor(myData[,15], levels = c("0","1"))
myData[,15] <- factoredMyData

In [252]:
head(myData)

  X1 X22.08 X11.46 X2 X4 X4.1 X1.585 X0 X0.1 X0.2 X1.1 X2.1 X100 X1213 X0.3
1 0  22.67   7.000 2  8  4    0.165  0  0     0   0    2    160    1   0
2 0  29.58   1.750 1  4  4    1.250  0  0     0   1    2    280    1   0
3 0  21.67  11.500 1  5  3    0.000  1  1    11   1    2      0    1   1
4 1  20.17   8.170 2  6  4    1.960  1  1    14   0    2     60  159   1
5 0  15.83   0.585 2  8  8    1.500  1  1     2   0    2    100    1   1
6 1  17.42   6.500 2  3  4    0.125  0  0     0   0    2     60  101   0

## Regression Algorithms

Logistic Regression Applications for certain numerical columns.

In [292]:
numericalMyData <- myData[,c("X22.08", "X11.46","X1.585","X100","X1213")]

approved <- ifelse(myData[,15] == 1,1,0)
rejected <- ifelse(myData[,15] == 0,1,0)



logRegTestData <- cbind(numericalMyData[,],myData[15])
logRegData <- cbind(numericalMyData[,], approved, rejected)

In [293]:
head(logRegData)
head(logRegTestData)

  X22.08 X11.46 X1.585 X100 X1213 approved rejected
1 22.67   7.000 0.165  160    1   0        1
2 29.58   1.750 1.250  280    1   0        1
3 21.67  11.500 0.000    0    1   1        0
4 20.17   8.170 1.960   60  159   1        0
5 15.83   0.585 1.500  100    1   1        0
6 17.42   6.500 0.125   60  101   0        1

  X22.08 X11.46 X1.585 X100 X1213 X0.3
1 22.67   7.000 0.165  160    1   0
2 29.58   1.750 1.250  280    1   0
3 21.67  11.500 0.000    0    1   1
4 20.17   8.170 1.960   60  159   1
5 15.83   0.585 1.500  100    1   1
6 17.42   6.500 0.125   60  101   0

In [294]:
library(caret)
library(e1071)

ERROR: Error in library(e1071): there is no package called 'e1071'

In [312]:
#Why logisticRegressionTestData can only be reached by using commas,
#but can not use it with whole vector itself.

model <- glm(approved ~ logRegTestData[,"X22.08"]
             + logRegTestData[,"X11.46"]
             + logRegTestData[,"X1.585"]
             + logRegTestData[,"X100"]
             + logRegTestData[,"X1213"], binomial)
#oddsratio <- exp(predict(model,logisticRegressionTestData[test,]))
#predicted <- ifelse(oddsratio > 0.7,1,0)
#confusionMatrix(table(predicted,real=newdata[test,"approved"]))

Warning message:
"glm.fit: fitted probabilities numerically 0 or 1 occurred"

In [313]:
summary(model)

Call:
glm(formula = approved ~ logRegTestData[, "X22.08"] + logRegTestData[,
    "X11.46"] + logRegTestData[, "X1.585"] + logRegTestData[,
    "X100"] + logRegTestData[, "X1213"], family = binomial)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.5945  -0.8596  -0.7071   1.0534   2.0307

Coefficients:
                             Estimate Std. Error z value Pr(>|z|)
(Intercept)                -1.1541817  0.2866389  -4.027 5.66e-05 ***
logRegTestData[, "X22.08"]  0.0022843  0.0078969   0.289   0.7724
logRegTestData[, "X11.46"]  0.0482639  0.0190631   2.532   0.0113 *
logRegTestData[, "X1.585"]  0.2542188  0.0399722   6.360 2.02e-10 ***
logRegTestData[, "X100"]   -0.0010701  0.0005758  -1.859   0.0631 .
logRegTestData[, "X1213"]   0.0006826  0.0001210   5.640 1.70e-08 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 946.98  on 688  degrees of freedom
Residual deviance: 776.40  on 683  degrees of freedom
AIC: 788.4

Number of Fisher Scoring iterations: 7